html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
nav ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
ins{background-color: #ff9; color: #000; text-decoration: none;}
mark{background-color: #ff9; color: #000; font-style: italic; font-weight: bold;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom: 1px dotted; cursor: help;}
table{border-collapse: collapse; border-spacing: 0;}
hr{display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0;}
input, select{vertical-align: middle;}

/**
* Core Layout
*
* Basic styling for most X/HTML elements to give a general layout that is
* usable and shared across all devices and browsing platforms.
*
* @section	core
*/
body{line-height: 1; background-color: #FFF;color: #444444; font-family: 'Lucida Grand', 'Lucida Sans'; }

a{margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; color: #444444; font-size: 16px;}
a:focus, a:hover{outline: none; text-decoration: none;}
address, p, hr {margin: 18px 0;}
address{font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; line-height: normal; margin: 0;}
img{-ms-interpolation-mode: bicubic;}
blockquote, dl, ol, ul{margin: 18px 0 18px 36px;}
blockquote *, dl *, ol *, ul *{margin: 0;}
ol ol, ol ul, ul ul, ul ol{margin: 9px 0 9px 36px;}
sub, sup{font-size: smaller;line-height: 0;}
sub{vertical-align: sub;}
sup{vertical-align: super;}
.clearfix{clear: both;height: 0px;}
.hidden{display: none !important;}

#page{}
#header{}
#main{}
#footer{}

@media screen and (max-width:320px){}